*{
    margin: 0;
    padding: 0;
    
    }
    
    #Pagina1{
        height:100vh;
    }
    #Pagina2{
        height:100vh;
    }
    #Pagina3{
        height:100vh;
    }
    #Pagina4{
        height:100vh;
    }
    #Pagina5{
        height:100vh;
    }
    #Pagina6{
        height:100vh;
    }
    #Pagina7{
        height:100vh;
    }
    
    .nav-bar-page1{
        background-color: #262626;
        width: 100%;
        height: 8%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .botao-doar-page1{
        background-color: #ebebeb;
        border-radius: 8px;
        width: 9%;
        height: 79%;
        color: black;
        border: transparent
    }
    .img-logo-page1{
    
    height: 80%;
    
    }
    
    .titolo-page1{
        color: #ffff;
        margin-left: -7%;
    
    }
    
    
    .botao-quem_somos-page1{
    
        color: #ffff;
    }
    
    .botao-nossos_projetos-page1{
    
        color: #ffff;
    }
    
    .botao-como_doar-page1{
    
        color: #ffff;
    }
    
    .botao-contato-page1{
    
        color: #ffff;
    }
    
    .texto-encimada-img-page1{
        padding-left: 22vw;
        padding-top: 10vh;
        font-size: 3vw;
        color: #ffff;
    
    }
    
    .img-texto-page1{
        display: flex;
        height: 100vh;
    }
    
    .conteiner-da-foto-ong-page1{
        background-repeat: no-repeat;
        position: absolute;
        z-index: 1;
        height: 104vh;
        width: 99vw;
    }
    
    .foto-da-ong-page1{
        height: 104vh;
        width: 99vw;
    }
    
    .div-do-texto-encimada-img-page1{
    
        z-index: 2;
    }
    
    