
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color:white;
}


#A1login{
  color:black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#Pagina4 {
  background-color: #faf5f1;
  height: 100vh;
}
#Pagina5 {
  height: 100vh;
}
#Pagina6 {
  height: 100vh;
}
#Pagina7 {
  height: 100vh;
}
.lcima {
  grid-area: c;
}
.lmeio {
  grid-area: m;
}
.lbaixo {
  display: flex;
  align-items: center;
  flex-direction: column;

  grid-area: b;
}
.lcont {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30vh 40vh 30vh;
  grid-template-areas:
    "c "
    "m "
    "b ";
}
.lfbox {
  display: flex;
  align-items: center;
  margin-top: 3%;
  justify-content: space-around;
}
.lfoto1 {
  box-shadow: 2px 1px 5px 0px;
    border-radius: 15%;
    height: 20vw;
    width: 19vw;
    border: solid rgb(0, 0, 0);
}
.lproj {
  padding-top: 15%;
  padding-right: 10%;

  font-size: 150%;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;

  text-align: center;
}
.lajuda {
  font-size: 150%;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 8%;

  text-align: center;
}

.lucasescrita {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}
.ltitulo {
  font-size: 400%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3%;
}

.ltexto {
  margin-top: 3%;
  font-size: 150%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.donation-tab {
  background: #262626;
  font-family: "Montserrat";
}
.donation-container {
  background-image: url(./img/plano_de_fundo-removebg-preview5-PhotoRoom_1.png);
  /*background-repeat: no-repeat;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.donation-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #faf5f1;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 50px;
}

.donation-title {
  color: #fbf5f1;
  font-weight: 700;
  font-size: 300%;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.pagseguro-img {
  margin-top: 30px;
  height: 38px;
  width: 149px;
}

.donation-box-title {
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 5px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #262626;
}

.donation-input {
  border: solid 0.5px rgb(173, 168, 168);
  height: 4vh;
  padding-left: 2px;
}

::placeholder {
  color: rgba(0, 0, 0, 0.5);
  opacity: 10;
}

.donation-box-link {
  align-self: flex-start;
  color: #003585;
  font-size: 13px;
  padding-top: 8px;
  margin-left: 20px;
}

.donation-box-button {
  background: #262626;
  color: #faf5f1;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 20px;
  border-radius: 10px;
}

footer {
  padding-left: 5px;
  padding-right: 5px;
  background: #262626;
  font-family: "Montserrat";
}

.footer-container {
  display: flex;
  column-gap: 8;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 40px;
  border-top: 1px solid #faf5f1;
}

@media (min-width: 768px) {
  .grid-footer-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.separator {
  border-top: 1px solid red;
}

#Pagina1 {
  height: 100vh;
  background-color: black;
}
#Pagina2 {
  height: 100vh;
  display: flex;
  background-color: #faf5f1;
  justify-content: flex-start;
  align-items: center;
}
#Pagina3 {
  height: 100vh;
  background: #262626;
}
#Pagina4 {
  height: 100vh;
}
#Pagina5 {
  height: 100vh;
}
#Pagina6 {
  height: 100vh;
}
#Pagina7 {
  height: 100vh;
}

.img-canto-page2 {
  width: 12vw;
  height: 100vh;
}
.img-lado-direito-page2 {
  width: 12vw;
  height: 100vh;
  margin-left: 19%;
}

.caixao-page2 {
  width: 40vw;
  height: 40vh;
  float: right;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  margin-left: 17%;
}

.titolo-page2 {
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5%;
}

.texto-multivasional-page2 {
  font-size: 150%;
  font-family: Georgia, "Times New Roman", Times, serif;

  margin-bottom: 13%;
}

#Botao1Pagina2 {
  border: 0;
  font-size: 100%;
  width: 207px;
  height: 57px;
  color: white;
  background-color: black;
  border-radius: 30px;
  cursor: pointer;
}

#QuemSomos_Titulo {
  text-align: center;
  color: #fbf5f1;
  font-size: clamp(2vw, 5vw, 7vw);
  padding-top: 3%;
}
#QuemSomos_Texto {
  color: #fbf5f1;
  text-align: center;

  padding-top: 2%;
  font-size: 150%;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 60%;
}
.esquerda {
  margin-right: 5%;
  padding-top:-5%;
  transform: rotate(300deg);
  width: 10%;
  height: 10%;
}
.direita {
  margin-left: 5%;
  padding-top:-5%;
  transform: rotate(-300deg);
  width: 10%;
  height: 10%;
}
.ntexto {
  padding-top: 10%;
  display: flex;
  justify-content: center;

  flex-direction: row;
}
.nmembros {
  display: flex;
  align-items: center;
  margin-top: 2%;
  justify-content: space-around;
}
.lfotom {
  box-shadow: 1px 1px 5px 0px;
  border-radius: 50%;
  height: 13vw;
  width: 13vw;
}
.lnomemembro {
  padding-top: 15%;
  padding-right: 10%;
  padding-left: 10%;
  color: #ffff;
  font-size: 150%;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  align-items: center;

  flex-direction: column;

  text-align: center;
}
.lcargomembro {
  padding-top: 5%;
  padding-right: 10%;
  padding-left: 10%;
  color: #ffff;
  font-size: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  align-items: center;

  flex-direction: column;

  text-align: center;
}

.nimg {
  position: relative;

  left: 65%;
  top: -25%;
  height: 30%;
  width: 30%;
}

#NossaGente_H2 {
  text-align: center;
  color: #fbf5f1;
  font-size: clamp(2vw, 5vw, 7vw);
  padding-top: 10%;
}
#NossaGente_Imgs {
  position: relative;
  display: inline-block;
  width: 11%;
  padding: 5%;
  padding-right: 8%;
  border-radius: 50%;
  left: 4%;
}
#NossaGente_Nomes {
  position: relative;
  display: inline;
  font-size: 3vw;
  color: #faf5f1;
  margin-left: 16%;
  right: 6%;
}
#NossaGente_Cargos {
  position: relative;
  display: inline;
  font-size: 1.5vw;
  color: #faf5f1;
  margin-left: 18%;
  right: 8%;
}

.nav-bar-page1 {
  background-color: #262626;
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Georgia, "Times New Roman", Times, serif;
  
}
.botao-doar-page1 {
  border: 0;
    font-size: 100%;
    width: 128px;
    height: 45px;
    color: #ffffff;
    background-color: rgb(0 0 0);
    border-radius: 30px;
    cursor: pointer;

}
.img-logo-page1 {
  height: 80%;
  border-radius: 9px;
}

.titolo-page1 {
  font-size: 130%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffff;

  margin-left: -7%;
}

.botao-page1 {
  color: #ffff;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.texto-encimada-img-page1 {
  padding-left: 24%;
  padding-top: 9vh;
  font-size: 300%;
  width: 150%;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffff;
}

.img-texto-page1 {
  display: flex;
  height: 100vh;
}

.conteiner-da-foto-ong-page1 {
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.foto-da-ong-page1 {
  height: 92vh;
  width: 99vw;
  opacity: 87%;
}

.div-do-texto-encimada-img-page1 {
  z-index: 2;
}

.footer-list {
  list-style: none;
}

.footer-title {
  font-family: "Hanson";
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 25px;
  color: #faf5f1;
}

.footer-link-items {
  margin-bottom: 4;
  color: #ede9e6;
  font-weight: 500;
}

.footer-last {
  background-color: #797471;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-last-text {
  font-weight: 600;
}
